<div class="video-call">
  <div class="videos">
    <video #localVideo id="localVideo" autoplay muted></video>
    <video #remoteVideo id="remoteVideo" autoplay></video>
    <label for="distPeerId" style="color: white;">call partner PeerID:</label>
    <input #distPeerId type="text" id="distPeerId">
    <button style="background-color: #22e275;" (click)="startCall(distPeerId.value)">Start Call</button>
    <button style="background-color: #e24b22;" (click)="endCall()">End Call</button>
  </div>
  @if (peerID) {
    <p style="color: white; ">Your PeerID: {{ peerID }}</p>
  }
</div>
