* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: calc(100% - 90px);
  width: calc(100% - 30px);
  position: relative;
  left: 15px;
  top: 15px;
  border-radius: 10px;
  overflow: hidden;
}
aside {
  border-radius: 10px;
  padding: 10px;
  flex-basis: 15%;
  border-right: gainsboro solid 1px;
  background-color: var(--user-list-background-color);
  overflow-y: auto;
}


main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  border-radius: 10px;
  height: 100%;
  background-color: var(--chat-room-background-color);
}
main h3.place-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}
#message-bar {
  width: 50%;
  padding: 8px 16px;
  position: absolute;
  height: 45px;
  bottom: 50px;
  left: 110px;
  border-radius: 10px;
  border: 2px black solid;
}
.btn {
  width: fit-content;
  padding: 8px 25px;
  cursor: pointer;
  bottom: 50px;
  height: 45px;
  position: absolute;
  left: 65%;
  border-radius: 10px;
  border: 2px black solid;
  background-color: #222222;
  color: white;
  font-weight: normal;
}
.chat {
  position: absolute;
  left: 32%;
  top: 52%;
  transform: translate(-50%, -50%);
  display: flex
;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 80%;
  overflow-y: auto;
  /* background-color: #daf8cb; */
 }


.chat > p {
  text-align: right !important;
  background-color: #222222;
}


@media (min-width: 575px) and (max-width: 991px) {
  aside {
    flex-basis: 40%;
  }
    .chat {
    left: 48%;
    width: 80%;
  }
}
@media (min-width: 992px){
  aside {
    flex-basis: 25%;
  }
  /* .chat {
    left: 48%;
    width: 80%;
  } */
}
@media (min-width: 1380px){
  aside {
    flex-basis: 20%;
  }
  .chat {
    left: 40%;
    height: 62%;
  }
}
@media (min-width: 1669px){
  aside {
    flex-basis: 15%;
  }
}



/* video-call.component.css */
.video-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.videos {
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: absolute;
  gap: 30px;
}

video {
  width: 50%;
  height: auto;
  border: 1px solid #ccc;
}


/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 20px;

}
::ng-deep .mat-drawer-transition .mat-drawer-content {
  padding: 30px 30px 0 30px;
}
.example-sidenav {
  padding: 20px;
  width: 50%;
  background-color: #222222;

}
